@charset "UTF-8";

/* Aparelho em pé (portrait) */
body {
    background-image: url('../imagens/cev-portrait.jpg');
    background-position: left bottom;
    background-size: cover; /* Garantir que a imagem cubra a tela */
    background-repeat: no-repeat;
}